<!DOCTYPE html>
<html lang="en">
<head>
    <title>Version</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'plugin/json_load/json-viewer.css' %}">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- if the local jquery is not working, add the global jquery link
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'plugin/json_load/json-viewer.js' %}"></script>
    <style>
        th, td{
            font-size: 16px;
        }
    </style>
</head>
<body class=' background-grey'>

<div class="jumbotron text-center">
    <h2>Detect Text Demo</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex" style="justify-content: center">
            <table class="table">
                <thead>
                    <th scope="col" >Game</th>
                    <th scope="col">Numbers</th>
                </thead>
                <tbody class="data"></tbody>
            </table>
        </div>
    </div>
</div>

</body>
<script>

    $(document).ready(function () {
        update();
    })

    function update() {
        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });
        $.ajax({
            url: "{% url 'update' %}",
            type: 'post',
            contentType: false,
            processData: false,
            success: function (data, status) {
                console.log(data);
                var html = '';
                data.forEach((item , index) => {
                    console.log(item);
                    html += `<tr><td>Game${index+1}:</td><td>${item}</td></tr>`
                })
                $('.data').html(html);
            }
        });
    }

    setInterval(function () {
        update();
    }, 15000)

</script>
<script src="{% static 'js/my.js' %}"></script>


</html>
